{{ if in .Destination "/static/" }}
<!-- 12 is count of ../../static carachers -->
{{ $new_file_path := substr .Destination 12 }}
<!-- just for testing, you can delete this pre tag -->
<!-- <pre>{{ $new_file_path }}</pre> -->
<!-- render the image with new path -->
<center>
    <img class="img-fluid" src="{{ $new_file_path }}" alt='{{ .Text }}' />
</center>
{{ else }}
    <img class="img-fluid" src="{{ .Destination }}" alt='{{ .Text }}' />
{{ end }}